body, html {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 758px;
    overflow: hidden;
    background-color: grey;
}

#mapControls {
	position: absolute;
	top: 40px;
	left: 50px;
    background: linear-gradient( to right, #fff , 90%, rgba(255, 255, 255, 0.1));
    opacity: .80;
    padding: 20px;
    height: 72%;
    width: 25%;
    min-width: 300px;
    /*overflow: auto; */
}
#eventOutput {
    margin: 0 0 20px 0;
}

#eventOutput, #restOutput {
    height: 38%;
    overflow: auto;
}

.leadin {
	font-weight: bold;
}

.infoWindow .description {
	/*max-height: 250px;*/
	overflow: auto;
	overflow-wrap: break-word;
}
.infoWindow img {
	width: 100%;
}

input.blank {
    background-color: red;
}

select{
    display: inline;
}

.toggle-btn{
    background:lightblue;
    color:navy;
    font-size:13px;
    /*padding:3px;*/
    cursor:pointer;
}

.more{
    overflow: hidden;
    height: 100px;
}

h3{
    font-size: 24px;
}

h2{
    font-size: 36px;
}